/* give the warning messages a red color */
#warningMessageSpot {
    color: rgb(193, 73, 8);
}

/* Pulldown can break out of handsontable boundary */
.htColumnHeaders {
    overflow: visible !important;
}

.handsontable table thead th{
    background-color: rgb(149, 204, 149);
}

/* Row headers */
.ht_clone_left th {
    background-color: rgba(247, 249, 190, 0.957);
  }