<!DOCTYPE html>
<html lang="en">

{% load static %}
{% csrf_token %}

<head>
    <title>Summer Staff Scheduling Tool</title>
    <!-- use the basic character set-->
    <meta charset="UTF-8" />
    <!-- no favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <!-- import Handsontable and ispin css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
    <link href="https://unpkg.com/ispin/dist/ispin.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'table/styles.css' %}">
</head>

<body>
    <div id="schedulingTable"></div><br><br>
    <button id="jobTypeButton">Field</button>
    Week: <input type="spinner" id="weekSpinner"/><br><br><br><br>
    <div class="controls">
        <button id="saveButton">Save</button>
        <button id="loadButton">Load</button>
        <button id="exportButton">Export</button>
    </div>
    <!-- Display warning messages-->
    <br><br><br>
    <p id="warningMessageSpot"></p>
    <!-- import Handsontable and ispin javascript-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script src="https://unpkg.com/ispin"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'table/header.js' %}"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'table/main.js' %}"></script>
</body>

</html>